//https://angular-ui.github.io/bootstrap/
doctype html
html
    head
        script(src="/static/build/client.js")
        link(rel="stylesheet", href="/static/build/vendor.css")
        link(rel="stylesheet", href="/static/build/main.css")
        title quote-list
    
    body(ng-app="tslmodule", ng-controller="tslcontroller")
        h1 TSL


